@page
@model SafeSpace.Pages.Sysadmin.RemoveFormModel
@{
    ViewData["Title"] = "Remove form";
}

<h3>Remove form</h3>

<h4>Are you sure you want to remove this form?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name: @Html.DisplayFor(model => model.Token.Email)
        </dt>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Token.ID" />
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-page="ManageSystem">Back to List</a>
    </form>
</div>
