@page
@model WebApp1.Pages.Sysadmin.AddAdminModel
@{
    ViewData["Title"] = "Add admin";
}
<h2>Send registration form</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Admin.Email" class="control-label"></label>
                <input asp-for="Admin.Email" class="form-control" />
                <span asp-validation-for="Admin.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send form" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="ManageSystem">Back to List</a>
</div>