@page
@model WebApp1.Pages.Sysadmin.RemoveAdminModel
@{
    ViewData["Title"] = "Remove admin";
}

<h3>Remove admin</h3>

<h4>Are you sure you want to remove this admin?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            User: @Html.DisplayFor(model => model.Admin.Email)
        </dt>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Admin.Id" />
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-page="ManageSystem">Back to List</a>
    </form>
</div>