@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SafeSpace</h1>
    <ul class="navbar-nav flex-grow-1">
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="btn btn-outline-primary mt-3 mb-3" asp-area="" asp-page="/Admin/Sessions">View sessions</a>
            </li>
        }
        else if (User.IsInRole("Lecturer"))
        {
            <li class="nav-item">
                <a class="btn btn-outline-primary mt-3 mb-3" asp-area="" asp-page="/Lecturer/Sessions">View sessions</a>
            </li>
        }
        else if (User.IsInRole("Student"))
        {
            <li class="nav-item">
                <a class="btn btn-outline-primary mt-3 mb-3" asp-area="" asp-page="/Student/SelectSession">Book a seat</a>
            </li>
            <li class="nav-item">
                <a asp-area="Identity" asp-page="/Account/Manage/Positive">I have tested positive for COVID-19</a>
            </li>
        }
    </ul>
</div>
