@page
@model WebApp1.Pages.Admin.LecturerErrorModel
@{
    ViewData["Title"] = "Lecturer error";
}

<h3>Lecturer is teaching a course and cannot be deleted.</h3>
<a asp-page="ManageLecturers">Back to List</a>