@page
@model WebApp1.Pages.Admin.ViewClassroomModel
@{
    ViewData["Title"] = "View classroom";
    String _backGroundImage = "https://eu-central-1.linodeobjects.com/wemply/abb/public/55ef77ff25714b63844cf34590d835ac.4.svg";
}

<h4>Classroom @Model.Classroom.Name</h4>
<a asp-page="ClassroomList">Back</a>
<div class="image-container">
    @if (_backGroundImage == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="floor-image" style="background-image: url(@_backGroundImage)" />
        @foreach (var seat in Model.Classroom.Seats)
        {
            <div class="square" style="left: @(seat.X - 395)px; top: @(seat.Y - 268)px">
                -
            </div>
        }
    }
</div>