@page
@model SafeSpace.Areas.Identity.Pages.Account.Manage.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
    ViewData["ActivePage"] = ManageNavPages.Privacy;
}

<h4>@ViewData["Title"]</h4>
<p>This application follows the <a href="https://eur-lex.europa.eu/eli/reg/2016/679/oj">GDPR Privacy Policy</a>.</p>
<p>
    For additional information or concerns, contact us at: safespaceapp.mail@gmail.com.
</p>